.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}
.logo {
  width: 150px;
}
.logo img {
  width: 100%;
}
.header nav {
  display: flex;
  gap: 15px;
  justify-content: space-evenly;
}
.header nav a {
  font-size: 24px;
  text-decoration: none;
}
